html,body{
  height:100%;
  font-family: 'Roboto', Helvetica , Arial;;
}

img{
  max-width:100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
